.btn {
    padding: 8px 30px;
    border: 1px solid transparent ;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary {
    color:#121212 ;
    background: white;
    transition: all .5s ease-in-out;
}

.btn-primary:hover {
    background: transparent;
    color: white;
    border-color: white;
}

.btn-secondary {
    color:#121212 ;
    background: white;
    transition: all .5s ease-in-out;
    margin-top: 30px;
}

.btn-secondary:hover {
    background: transparent;
    color: white;
    border-color: white;
}

